<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Early Bird</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
     <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<!-- 这部分的功能实现参照了一个网站 http://www.danci88.com/  -->

<body>
   <div class="navbar navbar-transparent test-nav">
        <div class="container">
            <a href=".."  class="navbar-brand"></a>

            <label for="toggle-checkbox" class="menulable visible-xs-inline-block">MENU</label>
            <input type="checkbox" class="hidden" id="toggle-checkbox">

            <div class="nav navbar-nav nav-link hidden-xs">
                <div class="space"></div>

                <li><a href="../study" class="menu-item text-left">背单词</a></li>
                <li><a href="../test" class="menu-item text-left">测试</a></li>
                <li><a href="../wordbook" class="menu-item text-left">词本</a></li>
                <li><a href="../statistic" class="menu-item text-left">统计</a></li>
                <li><a href="../profile" class="menu-item text-left">我的</a></li>
            </div>

            <div class="nav navbar-nav navbar-right nav-link hidden-xs">
                <div class="navbar-form hidden-xs hidden-sm" role="search">
                        <div class="input-group">
                        <input type="text" class="form-control"><span
                        class="input-group-addon btn btn-primary"><i class="fa fa-search"></i></span>
                        </div>
                </div>
                <li class="btn-group" style="margin-top: 3%">
                         <button type="button" class="btn btn-default " style="border: transparent;color: rgba(112,112,112,0.6);">{{ nickname }}</button>
                          <button type="button" class="btn btn-default dropdown-toggle"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                  style="border: transparent">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">设置</a></li>
                            <li><a href="#">帮助</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/">退出</a></li>
                          </ul>
                </li>

            </div>
        </div>
    </div>



    <div class="studybox">
        <!-- 页面状态1 -->
        <div class="pannel container col-md-10 col-md-offset-1">
            <!-- 开始背单词前的学习计划界面 -->
            <div class="container">
                <!-- Team members structure start -->

                <!-- effect-5 html -->
                <div class="single-member effect-5" onclick="window.open('/chooseword','_self')">
                    <div class="member-image">
                        <img src="/static/img/word1.png" alt="Member">
                    </div>
                    <div class="member-info">
                        <h3>TOEFL</h3>
                        </br> </br>
                        <p>在线TPO快速练习，听力同步 显示原文！</p>
                    </div>
                </div>
                <!-- effect-5 html end -->

                <!-- effect-6 html -->
                <div class="single-member effect-6" onclick="window.open('/chooseword','_self')">
                    <div class="member-image">
                        <img src="/static/img/word2.png" alt="Member">
                    </div>
                    <div class="member-info">
                        <h3>IELTS</h3>
                         </br> </br>
                        <p>
                            听说读写专项突破，备考方案 实战指导，高频题目收录！
                        </p>

                    </div>
                    <div class="border-green"></div>
                </div>
                <!-- effect-6 html end -->

                <!-- effect-5 html -->
                <div class="single-member effect-5" onclick="window.open('/chooseword','_self')">
                    <div class="member-image">
                        <img src="/static/img/word3.png" alt="Member">
                    </div>
                    <div class="member-info">
                        <h3>GRE</h3>
                         </br> </br>
                        <p>GRE题库，模拟真实考试系统，好用的个性备考方案。</p>
                    </div>
                </div>
                <!-- effect-5 html end -->

                <!-- effect-6 html -->
                <div class="single-member effect-6" onclick="window.open('/chooseword','_self')">
                    <div class="member-image">
                        <img src="/static/img/word4.png" alt="Member">
                    </div>
                    <div class="member-info">
                        <h3>GMAT</h3>
                         </br> </br>
                        <p>提供模拟/真实GMAT考试机器，自适应模考的系统！</p>

                    </div>
                    <div class="border-green"></div>
                </div>
                <!-- effect-6 html end -->


            </div>
            <!-- Team members structure start -->
        </div>

    </div>
    </div>


</body>

</html>