<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Early Bird</title>
</head>
<body>
    <div class="navbar navbar-transparent">
        <div class="container">
            <a href="./"  class="navbar-brand"></a>
            <div class="nav navbar-nav nav-link">
                <li><a href="./" calss="menu-item">首页</a></li>
                <li><a href="#" calss="menu-item">单词</a></li>
                <li><a href="#" calss="menu-item">测试</a></li>
                <li><a href="#" calss="menu-item">词本</a></li>
                <li><a href="#" calss="menu-item">我的</a></li>
            </div> 

            <div class="nav navbar-nav navbar-right nav-link">
                   <div class="navbar-form" role="search">
                            <div class="input-group">
                            <input type="text" class="form-control"><span class="input-group-addon btn btn-primary">搜索</span>
                            </div>
                    </div>
 
                    <li><a href="#" calss="menu-item">帮助</a></li>
                    <li><a href="regist" calss="menu-item">注册</a></li>
                    <li><a href="login" calss="menu-item">登录</a></li>
            </div>    
        </div>
    </div>

    <div class="banner">
        <div class="bannertext">
                    <div class="text-center">
                        <h1>个性词本 轻松背诵 有方法的单词记忆 </h1>
                        <p>定制你的专属单词本, 个性化学习计划, 覆盖范围广,随听随记,听写列表DIY</p>
                        <p>卡片学习, 各类发音, 词汇例句,轻松成为备考早鸟</p>
                    </div>
        </div>

        <div class="bannerbutton text-center">
                <a href="" class="left btn">前去打卡</a>
                <a href="" class="right btn">使用说明</a>
        </div>
    </div>  

    <div class="function">
        <div class="title text-center">
            <h3>功能列表</h3>
            <div class="line container"></div>
        </div>
        
        <div class="container">
            <div class="item col-sm-4 ">
                <div class="pic"><img src="static/img/item1.png" alt="icon"></div>
                <div class="text text-center">
                    <h4>定制单词卡, 重点随你挑选</h4>
                    <h5>不管是单词认读派，还是单词听记派，或者默写派，都可以在这里定制你的专属单词卡片</h5>
                    <a href="#"><h5>GO Now>></h5></a>
                </div>
            </div>

            <div class="item col-sm-4 ">
                    <div class="pic"><img src="static/img/item2.png" alt="icon"></div>
                    <div class="text text-center">
                        <h4>定期小测验, 单词不会忘</h4>
                        <h5>短期复习，长期测验，定期定量检测，你想要的复习小测范围应有尽有</h5>
                        <a href="#"><h5>GO Now>></h5></a>
                    </div>
            </div>

            <div class="item col-sm-4 ">
                    <div class="pic"><img src="static/img/item3.png" alt="icon"></div>
                    <div class="text text-center">
                        <h4>自选单词书, 考试应对自如</h4>
                        <h5>不管是四六级，还是托福雅思，或者BEC商务英语，都可以在这里选词背诵片</h5>
                        <a href="#"><h5>GO Now>></h5></a>
                    </div>
            </div>
            <div class="text-center">
                    <a class="text-center btn">更多功能</a>
                </div>
           

        </div>
        
    </div>    

    <div class="footer container">
        <hr>
        <div class="text-center">
                <h6>Copyright©2017-2018 Mr.Blank 杭ICP备123456789号</h6>
                <h6 class="contact">
                    <a href="#">Privacy Police /</a>
                    <a href="#"> Contact Us /</a>
                    <a href="#"> Suggestion</a>
                </h6>
                
                <div class="social">
                    <a href="#"><img src="static/img/FB.png" alt="FB"></a>
                    <a href="#"><img src="static/img/wechat.png" alt="微信"></a>
                    <a href="#"><img src="static/img/sina.png" alt="sina"></a>
                </div>
        </div> 
    </div>
</body>
</html>