<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EarlyBird.com</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar navbar-transparent">
        <div class="container">
            <a href="main.html"  class="navbar-brand"></a>  

            <label for="toggle-checkbox" class="menulable visible-xs-inline-block">MENU</label>
            <input type="checkbox" class="hidden" id="toggle-checkbox"> 

            <div class="nav navbar-nav nav-link hidden-xs">
                <div class="space"></div>
                <li><a href="main.html" class="menu-item text-left">首页</a></li>
                <li><a href="profile.html" class="menu-item text-left">单词</a></li>
                <li><a href="test.html" class="menu-item text-left">测试</a></li>
                <li><a href="vocabulary.html" class="menu-item text-left">词本</a></li>
                <li><a href="user.html" class="menu-item text-left">我的</a></li>
            </div> 

            <div class="nav navbar-nav navbar-right nav-link hidden-xs">
                   <div class="navbar-form hidden-xs hidden-sm" role="search">
                            <div class="input-group">
                            <input type="text" class="form-control"><span class="input-group-addon btn btn-primary">搜索</span>
                            </div>
                    </div>

                    <li><a href="helpdocument.html" calss="menu-item">帮助</a></li>
                    <li><a href="signup.html" calss="menu-item">注册</a></li>
                    <li><a href="login.html" calss="menu-item">登录</a></li>
            </div>    
        </div>
    </div>

    <div class="banner">
        <div class="bannertext">
                    <div class="text-center">
                        <h1>个性词本 轻松背诵 有方法的单词记忆 </h1>
                        <p>定制你的专属单词本, 个性化学习计划, 覆盖范围广,随听随记,听写列表DIY</p>
                        <p>卡片学习, 各类发音, 词汇例句,轻松成为备考早鸟</p>
                    </div>
        </div>

        <div class="bannerbutton text-center">
                <a href="" class="left btn">前去打卡</a>
                <a href="" class="right btn">使用说明</a>
        </div>
    </div>  

    <div class="function">
        <div class="title text-center">
            <h3>功能列表</h3>
            <div class="line container"></div>
        </div>
        
        <div class="container">
            <div class="item col-sm-4 ">
                <div class="pic"><img src="img/item1.png" alt="icon"></div>
                <div class="text text-center">
                    <h4>定制单词卡, 重点随你挑选</h4>
                    <h5>不管是单词认读派，还是单词听记派，或者默写派，都可以在这里定制你的专属单词卡片</h5>
                    <a href="#"><h5>GO Now>></h5></a>
                </div>
            </div>

            <div class="item col-sm-4 ">
                    <div class="pic"><img src="img/item2.png" alt="icon"></div>
                    <div class="text text-center">
                        <h4>定期小测验, 单词不会忘</h4>
                        <h5>短期复习，长期测验，定期定量检测，你想要的复习小测范围应有尽有</h5>
                        <a href="#"><h5>GO Now>></h5></a>
                    </div>
            </div>

            <div class="item col-sm-4 ">
                    <div class="pic"><img src="img/item3.png" alt="icon"></div>
                    <div class="text text-center">
                        <h4>自选单词书, 考试应对自如</h4>
                        <h5>不管是四六级，还是托福雅思，或者BEC商务英语，都可以在这里选词背诵片</h5>
                        <a href="#"><h5>GO Now>></h5></a>
                    </div>
            </div>

            <div class="text-center">
                    <a class="text-center btn">更多功能</a>
            </div>
        </div>   
    </div>   
    
     <div class="footer clearfix">
        <hr>
        <div class="text-center">
                <h6>Copyright© 粤ICP备09210879号</h6>
                <h6 class="contact">
                    <a href="#">Privacy Police /</a>
                    <a href="#"> Contact Us /</a>
                    <a href="#"> Suggestion</a>
                </h6>
                
                <div class="social">
                    <span class="socio-logo"><a href="#"><img src="img/socio-fb.png" alt="FB"></a></span>
                    <span class="socio-logo"><a href="#"><img src="img/socio-wechat.png" alt="微信"></a></span>
                    <span class="socio-logo"> <a href="#"><img src="img/socio-sina.png" alt="sina"></a></span>  
                </div>      
        </div> 
    </div> 



    
    
</body>
</html>