<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
     <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Early Bird</title>

</head>
    <div class="navbar navbar-transparent test-nav">
        <div class="container">
            <a href=".."  class="navbar-brand"></a>

            <label for="toggle-checkbox" class="menulable visible-xs-inline-block">MENU</label>
            <input type="checkbox" class="hidden" id="toggle-checkbox"> 

            <div class="nav navbar-nav nav-link hidden-xs">
                <div class="space"></div>
                <li><a href=".." class="menu-item text-left">首页</a></li>
                <li><a href="../test" class="menu-item text-left">测试</a></li>
                <li><a href="../wordbook" class="menu-item text-left">词本</a></li>
                <li><a href="../statistic" class="menu-item text-left">统计</a></li>
                <li><a href="../profile" class="menu-item text-left">我的</a></li>
            </div> 

            <div class="nav navbar-nav navbar-right nav-link hidden-xs">
                <div class="navbar-form hidden-xs hidden-sm" role="search">
                        <div class="input-group">
                        <input type="text" class="form-control"><span
                        class="input-group-addon btn btn-primary"><i class="fa fa-search"></i></span>
                        </div>
                </div>
                <li class="btn-group" style="margin-top: 3%">
                         <button type="button" class="btn btn-default " style="border: transparent;color: rgba(112,112,112,0.6);">{{ nickname }}</button>
                          <button type="button" class="btn btn-default dropdown-toggle"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                  style="border: transparent">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">设置</a></li>
                            <li><a href="#">帮助</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出</a></li>
                          </ul>
                </li>

            </div>    
        </div>
    </div>

    <div class="testbox">
        <div class="pannel container col-md-10 col-md-offset-1">
            <!--加左右键翻页会比较方便 -->
            <div class="lft-btn">
                <div class="img-circle btn-group"><i class="fa fa-chevron-left fa-2x"></i></div><!-- 上一个单词 -->
            </div>
            <div class="right-btn">
                    <div class="img-circle btn-group"><i class="fa fa-chevron-right fa-2x"></i></div><!-- 下一个单词 -->
            </div>

{#            <div class="test-topbun text-left">#}
{#                <div class="btn-group btn"> <abbr title="检测今天学习的新词">新词测试</abbr></div>#}
{#                <div class="btn-group btn"> <abbr title="检测昨天学习的单词">昨日复习</abbr></div>#}
{#                <div class="btn-group btn"> <abbr title="每测试完100个单词，会检测其中最不熟悉的40个单词">随机抽查</abbr></div>#}
{#            </div>#}

            <div class="mem-pannel">
                <div class="mainbutton">
                    <div class="text-left mem-menu">
                        <div class="img-circle btn-group hidden-sm hidden-xs"><i class="fa fa-home"></i></div>
                        <div class="img-circle btn-group hidden-sm hidden-xs"><i class="fa fayin">英</i></div>
                        <div class="test-item btn-group test-mark1"><span class="fa fa-circle" style="color:#FE6158"></span>不认识:8</div>
                        <div class="test-item btn-group"> <span class="fa fa-circle" style="color:#29CE42"></span>认识:12</div>
                        <div class="test-item btn-group  hidden-xs"> <span class="fa fa-circle" style="color:#50DDED"></span>已测:20</div>
                        <div class="test-item btn-group"> <span class="fa fa-circle" style="color:#FFC12F"></span>剩余:20</div>
                        <span class="test-progress hidden-sm hidden-xs">
                            <span class="known text-center">8</span>
                            <span class="unknown text-center">12</span>
                            <span class="pretest text-center">20</span>
                        </span>

                    </div>
                </div>

                <div class="linespace"></div>
                {% if error != 'NoWord' %}

                    <div class="word-title text-center">
                        <span class="word">{{ wordname }}</span>
                        <span class="volume hidden-sm hidden-xs">英<span class="yinbiao">{{ soundmark }}</span><a class="fa fa-volume-up"></a></span>
                        <span class="volume  hidden-sm hidden-xs">美<span class="yinbiao">{{ soundmark }}</span><a class="fa fa-volume-up"></a></span>
                    </div>


                    <div class="word-content text-center">
                        <div id="meaning">
                            <div class="item">
                                <div class="item translatedemo explanation">
                                {% for i in explanation %}
                                    <span class="mean">{{ i }}</span><br>
                                {% endfor %}
                                </div>
                            </div>

                            <div class="test-select">
                                <div class="item">
                                    <div class="sen exampledemo">{{ demo_1 }}</div>
                                    <div class="sen translatedemo">{{ demo_1_translate }}</div>
                                </div>
                            </div>
                        </div>


                        <div class="bannerbutton text-center">
                            <button id="know" class="left btn">认识</button>
                            <button id="notknow" class="right btn">不认识</button>
                        </div>

                    </div>
                     </div>

                {% else %}
                    <div class="word-title">
                        <span id="word" class="word">千里之行始于足下，您还没开始学习呢！</span>
                        <div class="bannerbutton text-center">
                            <button id="choosewordbtn" class="left btn " onclick="window.location.href='../wordbook'">开始选词</button>
                        </div>
                    </div>
                {% endif %}


            </div>

        </div>
    </div>

<script>
    $(document).ready(function() {
         $('#know').click(function () {
             $('#meaning').show();
             console.log("A");
         });
     });

    window.onload=function(){
        $('#meaning').hide();
    }

</script>

<body>
    
</body>