<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
     <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Early Bird</title>

</head>
    <div class="navbar navbar-transparent test-nav">
        <div class="container">
            <a href=".."  class="navbar-brand"></a>

            <label for="toggle-checkbox" class="menulable visible-xs-inline-block">MENU</label>
            <input type="checkbox" class="hidden" id="toggle-checkbox"> 

            <div class="nav navbar-nav nav-link hidden-xs">
                <div class="space"></div>

                <li><a href="../study" class="menu-item text-left">背单词</a></li>
                <li><a href="../test" class="menu-item text-left">测试</a></li>
                <li><a href="../wordbook" class="menu-item text-left">词本</a></li>
                <li><a href="../statistic" class="menu-item text-left">统计</a></li>
                <li><a href="../profile" class="menu-item text-left">我的</a></li>
            </div> 

            <div class="nav navbar-nav navbar-right nav-link hidden-xs">
                <div class="navbar-form hidden-xs hidden-sm" role="search">
                        <div class="input-group">
                        <input type="text" class="form-control"><span
                        class="input-group-addon btn btn-primary"><i class="fa fa-search"></i></span>
                        </div>
                </div>
                <li class="btn-group" style="margin-top: 3%">
                         <button type="button" class="btn btn-default " style="border: transparent;color: rgba(112,112,112,0.6);">{{ nickname }}</button>
                          <button type="button" class="btn btn-default dropdown-toggle"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                  style="border: transparent">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">设置</a></li>
                            <li><a href="#">帮助</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/">退出</a></li>
                          </ul>
                </li>

            </div>    
        </div>
    </div>

    <div class="testbox">
        <div class="pannel container col-md-10 col-md-offset-1">
            <!--加左右键翻页会比较方便 -->
            <div class="lft-btn">
                <div class="img-circle btn-group"><i class="fa fa-chevron-left fa-2x"></i></div><!-- 上一个单词 -->
            </div>
            <div class="right-btn">
                    <div class="img-circle btn-group"><i class="fa fa-chevron-right fa-2x"></i></div><!-- 下一个单词 -->
            </div>

{#            <div class="test-topbun text-left">#}
{#                <div class="btn-group btn"> <abbr title="检测今天学习的新词">新词测试</abbr></div>#}
{#                <div class="btn-group btn"> <abbr title="检测昨天学习的单词">昨日复习</abbr></div>#}
{#                <div class="btn-group btn"> <abbr title="每测试完100个单词，会检测其中最不熟悉的40个单词">随机抽查</abbr></div>#}
{#            </div>#}

            <div class="mem-pannel">
                <div class="mainbutton">
                    <div class="text-left mem-menu">
                        <div class="img-circle btn-group hidden-sm hidden-xs"><i class="fa fa-home"></i></div>
                        <div class="img-circle btn-group hidden-sm hidden-xs"><i class="fa fayin">英</i></div>
                        <div class="test-item btn-group test-mark1"><span class="fa fa-circle" style="color:#FE6158"></span>不认识:<span id="notknowcount">8</span></div>
                        <div class="test-item btn-group"> <span class="fa fa-circle" style="color:#29CE42"></span>认识:<span id="knowcount">12</span></div>
                        <div class="test-item btn-group  hidden-xs"> <span class="fa fa-circle" style="color:#50DDED"></span>已测:<span id="havetest">20</span></div>
                        <div class="test-item btn-group"> <span class="fa fa-circle" style="color:#FFC12F"></span>剩余:<span id="leftcount">20</span></div>
                        <span class="test-progress hidden-sm hidden-xs">
                            <span class="known text-center">8</span>
                            <span class="unknown text-center">12</span>
                            <span class="pretest text-center">20</span>
                        </span>

                    </div>
                </div>

                <div class="linespace"></div>
                {% if error != 'NoWord' %}

                    <div class="word-title text-center">
                        <span id="word" class="word">{{ word }}</span>
                        <div>
                            <span class="volume hidden-sm hidden-xs">英<span class="yinbiao soundmark"></span><a class="wordsound fa fa-volume-up"></a></span>
                            <span class="volume  hidden-sm hidden-xs">美<span class="yinbiao soundmark"></span><a class="wordsound fa fa-volume-up"></a></span>
                        </div>
                    </div>

                    <div class="word-content text-center">
                        <div id="meaning">
                            <div class="item">
                                <div class="item translatedemo explanation">
                                    <span class="mean" id="explanation"></span><br>
                                </div>
                            </div>

                            <div class="test-select">
                                <div class="item">
                                    <div class="sen exampledemo" id="demo_1">{{ demo_1 }}</div>
                                    <div class="sen translatedemo" id="demo_1_translate">{{ demo_1_translate }}</div>
                                </div>
                            </div>
                        </div>


                        <div class="bannerbutton text-center">
                            <button id="know" class="left btn">认识</button>
                            <button id="notknow" class="right btn">不认识</button>
                        </div>

                    </div>
                     </div>

                {% else %}
                    <div class="word-title">
                        <span id="word" class="word">千里之行始于足下，您还没开始学习呢！</span>
                        <div class="bannerbutton text-center">
                            <button id="choosewordbtn" class="left btn " onclick="window.location.href='../wordbook'">开始选词</button>
                        </div>
                    </div>
                {% endif %}


            </div>

        </div>
    </div>

<script>
    function playsound(){
        var audioElementHovertree = document.createElement('audio');
         var word = $('#word').text();
         audioElementHovertree.setAttribute('src', 'http://dict.youdao.com/dictvoice?audio='+word);

        $.get();

        audioElementHovertree.addEventListener("load", function() {
            audioElementHovertree.play();
        }, true);

        audioElementHovertree.play();
    }

    function isInArray(value,arr){
        var index = $.inArray(value,arr);
        if(index >= 0){
            return true;
        }
        return false;
    }

    $(document).ready(function() {
         $('#meaning').hide();
         $('#know').click(function () {
             $('#know').blur();
             $('#meaning').show();
             var wordtext = $('#word').text();

             if (isInArray(wordtext, know) === false) {
                 if (isInArray(wordtext, notknow) === true) {
                     notknowcount--;
                     notknow.splice($.inArray(wordtext, notknow), 1);
                 }
                 know.push(wordtext);
                 knowacount += 1;
             }

             $("#havetest").text(knowacount+notknowcount);
             $("#knowcount").text(knowacount);
             $("#notknowcount").text(notknowcount);
             $("#leftcount").text(total-knowacount-notknowcount);
         });


         $('#notknow').click(function () {
             $('#notknow').blur();
             $('#meaning').show();

             var wordtext = $('#word').text();
             if(isInArray(wordtext, notknow) === false){
                 if(isInArray(wordtext,know) === true) {
                     knowacount--;
                     know.splice($.inArray(wordtext,know),1);
                 }
                 notknow.push(wordtext);
                 notknowcount += 1;
                 console.log(notknow);
             }

             $("#havetest").text(knowacount+notknowcount);
             $("#knowcount").text(knowacount);
             $("#notknowcount").text(notknowcount);
             $("#leftcount").text(total-knowacount-notknowcount);

         });



         {#播放声音#}
         $('.wordsound').click(function () {
             playsound();
         });
     });


     $(document).ready(function() {
         $('.right-btn').click(function () {
             index = (index+1)%total;
             setCookie("index",index,1);
             $("#word").text(wordTestBook[index].word);
             $(".soundmark").text(wordTestBook[index].soundmark);
             $("#explanation").text(wordTestBook[index].explanation);
             $("#demo_1").text(wordTestBook[index].demo_1);
             $("#demo_1_translate").text(wordTestBook[index].demo_1_translate);

             playsound();
             $('#meaning').hide();
         });
         $('.lft-btn').click(function () {
             index = (index-1+total)%total;
             setCookie("index",index,1);
             $("#word").text(wordTestBook[index].word);
             $(".soundmark").text(wordTestBook[index].soundmark);
             $("#explanation").text(wordTestBook[index].explanation);
             $("#demo_1").text(wordTestBook[index].demo_1);
             $("#demo_1_translate").text(wordTestBook[index].demo_1_translate);

             playsound();
             $('#meaning').hide();
         });
     });

     var index;
     var total;
     var know = new Array();
     var notknow = new Array();
     var knowacount = 0;
     var notknowcount = 0;
     $(document).ready(function () {
         if(getCookie("index") == null){
             index  = 0;
             setCookie("index",index,1);
         }
         else{
             index = Number(getCookie("index"));
         }
         reqeustWords();
     });



</script>


<script>
        basicUrl="http://127.0.0.1:8000/";
        var wordTestBook;
        function reqeustWords() {
            new Promise(function (resolve){
               $.ajax(
                   {
                       method: "GET",
                       url: basicUrl+"api/getWords/",
                       data: {
                       },
                       success: function (data) {
                           resolve(data);
                       }

                   }
               )
            }).then(
                function (data) {
                    if(data != null)
                    {
                        wordTestBook = data;
                        total = wordTestBook['count'];
                        console.log(wordTestBook[index]);
                        console.log(wordTestBook[index].word);
                        $("#word").text(wordTestBook[index].word);
                        $(".soundmark").text(wordTestBook[index].soundmark);
                        $("#explanation").text(wordTestBook[index].explanation);
                        $("#demo_1").text(wordTestBook[index].demo_1);
                        $("#demo_1_translate").text(wordTestBook[index].demo_1_translate);


                        $("#havetest").text(0);
                        $("#knowcount").text(0);
                        $("#notknowcount").text(0);
                        $("#leftcount").text(total);
                        playsound();
                    }
                    else{
                        console.log("fail");
                    }

                }

            );
        }
</script>

<script>
      //设置cookie
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }
    //获取cookie
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
        }
        return null;
    }
</script>

<body>
    
</body>
</html>