<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EarlyBird.com</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar navbar-transparent">
        <div class="container">
            <a href="main.html"  class="navbar-brand"></a>  

            <label for="toggle-checkbox" class="menulable visible-xs-inline-block">MENU</label>
            <input type="checkbox" class="hidden" id="toggle-checkbox"> 

            <div class="nav navbar-nav nav-link hidden-xs">
                <div class="space"></div>
                <li><a href="main.html" class="menu-item text-left">首页</a></li>
                <li><a href="profile.html" class="menu-item text-left">单词</a></li>
                <li><a href="test.html" class="menu-item text-left">测试</a></li>
                <li><a href="vocabulary.html" class="menu-item text-left">词本</a></li>
                <li><a href="user.html" class="menu-item text-left">我的</a></li>
            </div> 

            <div class="nav navbar-nav navbar-right nav-link hidden-xs">
                   <div class="navbar-form hidden-xs hidden-sm" role="search">
                            <div class="input-group">
                            <input type="text" class="form-control"><span
                            class="input-group-addon btn btn-primary"><i class="fa fa-search"></i></span>
                            </div>
                    </div>

                    <li><a href="helpdocument.html" calss="menu-item">帮助</a></li>
                    <li><a href="signup.html" calss="menu-item">注册</a></li>
                    <li><a href="login.html" calss="menu-item">登录</a></li>
            </div>    
        </div>
    </div>

    <div class="container user-center">
        <div class="col-md-2 sidebar"></div>
        <div class="col-md-2 space"></div>
        <div class="col-md-8 major"></div>
    </div>

</body>