<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link href="/static/css/inserthtml.com.radios.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css">
    <title>Early Bird</title>
    {% load pagetag %}
</head>
<!-- 这部分的功能实现参照了一个网站 http://www.danci88.com/  -->

<body>

    <div class="navbar navbar-transparent test-nav">
        <div class="container">
            <a href=".."  class="navbar-brand"></a>

            <label for="toggle-checkbox" class="menulable visible-xs-inline-block">MENU</label>
            <input type="checkbox" class="hidden" id="toggle-checkbox">

            <div class="nav navbar-nav nav-link hidden-xs">
                <div class="space"></div>

                <li><a href="../study" class="menu-item text-left">背单词</a></li>
                <li><a href="../test" class="menu-item text-left">测试</a></li>
                <li><a href="../wordbook" class="menu-item text-left">词本</a></li>
                <li><a href="../statistic" class="menu-item text-left">统计</a></li>
                <li><a href="../profile" class="menu-item text-left">我的</a></li>
            </div>

            <div class="nav navbar-nav navbar-right nav-link hidden-xs">
                <div class="navbar-form hidden-xs hidden-sm" role="search">
                        <div class="input-group">
                        <input type="text" class="form-control"><span
                        class="input-group-addon btn btn-primary"><i class="fa fa-search"></i></span>
                        </div>
                </div>
                <li class="btn-group" style="margin-top: 3%">
                         <button type="button" class="btn btn-default " style="border: transparent;color: rgba(112,112,112,0.6);">{{ nickname }}</button>
                          <button type="button" class="btn btn-default dropdown-toggle"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                  style="border: transparent">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">设置</a></li>
                            <li><a href="#">帮助</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/">退出</a></li>
                          </ul>
                </li>

            </div>
        </div>
    </div>


    <div class="studybox"><!-- 页面状态3 -->

        <div class="pannel container col-md-10 col-md-offset-1"><!-- 开始背单词前的学习计划界面 -->

            <div class="col-md-4 user-sidebar hidden-sm hidden-xs">
                <div class="mainbutton">
                    <div class="img-circle btn-group"><i class="fa fa-home"></i></div><!-- 终端单词记忆回到学习计划界面 -->
                    <div class="img-circle btn-group"><i class="fa fa-bell-o"></i></div><!-- 系统通知 -->
                    <div class="img-circle btn-group"><i class="fa fayin">英</i></div><!-- 按钮点击切换默认发音，当前状态默认英音，点击变成  '美'-->
                </div>

                <div class="avatar img-circle" style="overflow: hidden;">
                    <img src="http://127.0.0.1:8000/static/img/portrait/1.png" width="100%" height="100%" />
                </div>
                

                <div class="side-info">
                    <div class="item"><span class="fa fa-user-o"><span class="title"> 用户: <span class="content">{{ nickname }}</span> </span> </span></div>
                    <div class="item"><span class="fa fa-signal"><span class="title"> 等级: <span class="content">{{ level }}</span> </span> </span></div><!-- 打卡天数算等级：小学生，初中生，大学生以此类推...随意 -->
                    <div class="item"><span class="fa fa-money"><span class="title"> 金币: <span class="content">{{ coin }}</span> </span></span></div><!-- 打卡天数算金币 -->
                    <div class="item"><span class="fa fa-bullseye"><span class="title"> 目标: <span class="content">{{ target }}</span> </span></span></div><!-- 用户个人页面选择的考试 -->
                    <div class="item"><span class="fa fa-book"><span class="title"> 词本: <span class="content">{{ wordbook }}</span> </span></span></div>
                    <div class="item"><span class="fa fa-ellipsis-h"><span class="title"> 进度: <span class="content">{{ Progress }}</span> </span></span></div><!-- 当前学习词本已经背了的单词 -->
                </div>

            </div>

            <div class="col-md-8  af-plancard">

                <span class="linespace hidden-sm hidden-xs"></span>
                <table id="wordbook" class="table table-hover center">
                    <thead>
                        <tr >
                            <th id="wordtitle">单词</th>
                            <th id="wordtitle">释义</th>
                        </tr>
                    </thead>
                    <tbody>

                         {% for i in words %}
                             <tr>
                                 <td id="bookwordname">{{ i.0}}</td>
                                 <td>{{ i.1 }}</td>
                                 {% if i.3 == 1 %}
                                    <td> <input class="box" type="checkbox" checked="checked" id={{ i.2 }} /><label for={{ i.2 }}></label></td>
                                 {% else %}
                                     <td> <input class="box" type="checkbox" id={{ i.2 }} /><label for={{ i.2 }}></label></td>
                                 {% endif %}
                             </tr>
                         {% endfor %}
                    </tbody>
                </table>

                <nav id="pagedisplay" class="col-md-10 col-sm-offset-4 text-center" aria-label="Page navigation">
                  <ul class="pagination">
                      {% if words.has_previous %}
                          <li>
                              <a href="?page={{ words.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                      {% endif %}

                     {%  for pg in words.paginator.page_range %}
                        {% circle_page words.number pg %}
                     {% endfor %}

                    {% if words.has_next %}
                        <li>
                          <a href="?page={{ words.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                        {% endif %}
                  </ul>
                </nav>

                <div>
                    <a class="btn" href="../study" id="startstudy" class="btn">开始背单词</a>
                </div>


            </div>




        </div>
    </div>

<script>
    var id;
    var basicUrl="http://127.0.0.1:8000/";
    function addword(wordname) {
        new Promise(function (resolve){
            console.log(id);
           $.ajax(
               {
                   method: "POST",
                   url: basicUrl+"api/chooseword/",
                   data: {
                       "id":id,
                       "wordname": wordname
                   },
                   success: function (data) {
                        resolve(data);
                       console.log(data);
                   }

               }
           )
        }).then(
            function (data) {
                console.log(data);
            }
        );
    }

    function cancelword(wordname) {
        new Promise(function (resolve){
            console.log(id);
           $.ajax(
               {
                   method: "POST",
                   url: basicUrl+"api/cancelword/",
                   data: {
                       "id":id,
                       "wordname": wordname
                   },
                   success: function (data) {
                        resolve(data);
                       console.log(data);
                   }

               }
           )
        }).then(
            function (data) {
                console.log(data);
            }
        );
    }

    $(document).ready(function(){
        getid();
        $(".box").click(function(){
            var tdSeq = $(this).parent().parent().find("td").index($(this)[0]);
            var trSeq = $(this).parent().parent().parent().find("tr").index($(this).parent()[0]);
            var word = $(this).parent().parent().find("td")[0].innerHTML;
            var box = $(this).parent().parent().find("td")[2].childNodes[1];
            console.log(word,box.checked);
            if(box.checked === true){
                addword(word);
            }
            else{
                cancelword(word);
            }
        });
    })

           //设置cookie
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }
    //获取cookie
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
        }
        return null;
    }

    function getid() {
        var basicUrl="http://127.0.0.1:8000/";
        new Promise(function (resolve){
           $.ajax(
               {
                   method: "GET",
                   url: basicUrl+"getid/",
                   data: {
                   },
                   success: function (data) {
                        resolve(data);
                       console.log(data.id);
                   }

               }
           )
        }).then(
            function (data) {
                id =  data.id;
            }
        );
    }

</script>

</body>
</html>

    
    